.panda-slide{
    background-color: mediumpurple;
    border-radius: 5px;
}
.panda-card{
    border: 0;
    
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.size{
    width: 100px;
}